.recipes-gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax($recipe-card-min-width, 1fr)
  );
  gap: 48px;
  margin-bottom: 72px;

  &__no-recipe {
    @include typographies(label)
  }
}
