.recipe-card {
  width: 100%;
  height: $recipe-card-height;
  max-width: $recipe-card-max-width;
  margin: auto;
  background-color: $neutral-secondary;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &__picture {
    height: 0;
    flex: 48 48 0px;
    background-color: $neutral-primary;
  }

  &__infos {
    height: 0;
    flex: 52 52 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__header {
      display: flex;
      justify-content: space-between;
      padding: $recipe-card-padding;
      padding-bottom: 0;
      align-items: center;
      gap: 24px;

      &__title {
        @include typographies(card-title);
        @include ellipsis(1);
      }

      &__time-container {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      &__time-icon {
        font-size: 20px;
      }

      &__time {
        @include typographies(card-title-bold);
        white-space: nowrap;
      }
    }

    &__description {
      display: flex;
      gap: 16px;
      height: 0;
      flex: 1 1 0px;
      padding: $recipe-card-padding;
      padding-top: 0;

      &__ingredients-list {
        width: 0;
        max-height: 98%;
        flex: 1 1 0px;
        list-style: none;
        @include typographies(card-subtitle);
        @include ellipsis(7);

        &__item {
          &:nth-of-type(n + 8) {
            opacity: 0;
          }
          .strong {
            @include typographies(card-subtitle-bold);
          }
        }
      }

      &__text {
        height: fit-content;
        width: 0;
        flex: 1 1 0px;
        @include typographies(card-text);
        @include ellipsis(7);
      }
    }
  }
}
