$typographies: (
  label-bold: (
    font-family: (
      $font-lato,
    ),
    font-size: 18px,
    font-weight: 700,
  ),
  label: (
    font-family: (
      $font-lato,
    ),
    font-size: 18px,
    font-weight: 400,
  ),
  label-small: (
    font-family: (
      $font-lato,
    ),
    font-size: 14px,
    font-weight: 700,
  ),
  card-title: (
    font-family: (
      $font-lato,
    ),
    font-size: 18px,
    font-weight: 400,
  ),
  card-subtitle-bold: (
    font-family: (
      $font-lato,
    ),
    font-size: 12px,
    font-weight: 700,
  ),
  card-subtitle: (
    font-family: (
      $font-lato,
    ),
    font-size: 12px,
    font-weight: 400,
  ),
  card-text: (
    font-family: (
      $font-roboto,
    ),
    font-size: 12px,
    font-weight: 400,
  ),
);
