$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$highlight-ingredient: #3282f7;
$highlight-appliance: #68d9a4;
$highlight-utensil: #ed6454;

$neutral-primary: #c7bebe;
$neutral-secondary: #e7e7e7;

$gutter-desktop: 96px;
// $gutter-tablet: 32px;
$gutter-mobile: 16px;

// $media-card-width: 350px;
// $media-card-height: 300px;
// $media-card-width-mobile: 300px;
// $media-card-height-mobile: 260px;

$filter-min-width: 176px;
$filter-max-width: 672px;
$filter-min-height: 68px;
$filter-max-height: 400px;

$tag-min-width: 166px;

$recipe-card-min-width: 368px;
$recipe-card-max-width: 512px;
$recipe-card-height: 360px;
$recipe-card-padding: 20px;

$recipe-card-small-width: calc(320px - 2 * $gutter-mobile);
