$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$highlight-ingredient: #3282F7;
$highlight-device: #68D9A4;
$highlight-utensil: #ED6454;

$neutral-primary: #C7BEBE;
$neutral-secondary: #E7E7E7;

$gutter-desktop: 96px;
// $gutter-tablet: 32px;
// $gutter-mobile: 0px;

// $media-card-width: 350px;
// $media-card-height: 300px;
// $media-card-width-mobile: 300px;
// $media-card-height-mobile: 260px;

$filter-min-width: 176px;
$filter-min-height: 68px;