* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 96px;
}

.search-input {
  width: 100%;
  position: relative;
}
.search-input__label {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}
.search-input__input {
  width: 100%;
  height: 68px;
  background-color: #E7E7E7;
  border: none;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 64px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.search-input__icon {
  font-size: 32px;
  position: absolute;
  top: calc(50% - 16px);
  right: 16px;
}

.tag-list {
  width: 100%;
  display: flex;
  list-style: none;
  gap: 8px;
  flex-wrap: wrap;
}
.tag-list__item {
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  border-radius: 4px;
}
.tag-list__item--ingredient {
  background-color: #3282f7;
}
.tag-list__item--appliance {
  background-color: #68d9a4;
}
.tag-list__item--utensil {
  background-color: #ed6454;
}
.tag-list__item__label {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
.tag-list__item__delete-icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.search-filters-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.search-filter {
  width: 176px;
  height: 68px;
  position: relative;
  border-radius: 4px;
  transition: width 150ms ease-in-out;
}
.search-filter--ingredient {
  background-color: #3282f7;
}
.search-filter--appliance {
  background-color: #68d9a4;
}
.search-filter--utensil {
  background-color: #ed6454;
}
.search-filter--active {
  z-index: 100;
  width: 672px;
  max-width: 100%;
  transition-duration: 350ms;
  border-radius: 4px 4px 0 0;
}
.search-filter--active .search-filter__input {
  display: block;
}
.search-filter--active .search-filter__label {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}
.search-filter--active .search-filter__chevron-icon {
  transform: rotate(180deg);
}
.search-filter--active .search-filter__list {
  display: grid;
}
.search-filter:not(.search-filter--active) .search-filter__label {
  display: flex;
}
.search-filter:not(.search-filter--active) .search-filter__input {
  display: none;
}
.search-filter:not(.search-filter--active) .search-filter__list {
  display: none;
}
.search-filter__label {
  align-items: center;
  padding: 0 16px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  width: 100%;
  height: 68px;
  cursor: pointer;
}
.search-filter__input {
  width: 100%;
  height: 68px;
  border: none;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 16px 16px 8px;
  background-color: transparent;
  color: white;
}
.search-filter__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-filter__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-filter__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-filter__chevron-icon {
  font-size: 18px;
  position: absolute;
  top: 25px;
  right: 16px;
  color: white;
  cursor: pointer;
}
.search-filter__list {
  max-height: 400px;
  grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
  row-gap: 4px;
  list-style: none;
  border-radius: 0 0 4px 4px;
  padding: 8px 16px 8px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.search-filter--ingredient .search-filter__list {
  background-color: #3282f7;
}
.search-filter--appliance .search-filter__list {
  background-color: #68d9a4;
}
.search-filter--utensil .search-filter__list {
  background-color: #ed6454;
}
.search-filter__list::-webkit-scrollbar {
  width: 8px;
}
.search-filter__list::-webkit-scrollbar-track {
  border-radius: 20px;
}
.search-filter__list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
.search-filter--ingredient .search-filter__list::-webkit-scrollbar-thumb {
  background-color: #7caffa;
}
.search-filter--appliance .search-filter__list::-webkit-scrollbar-thumb {
  background-color: #a5e8c9;
}
.search-filter--utensil .search-filter__list::-webkit-scrollbar-thumb {
  background-color: #f4a399;
}
.search-filter__list__item {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.search-filter__list__item:hover {
  transition: background-color 150ms ease-in;
}
.search-filter--ingredient .search-filter__list__item:hover {
  background-color: #0966ed;
}
.search-filter--appliance .search-filter__list__item:hover {
  background-color: #3fcf8b;
}
.search-filter--utensil .search-filter__list__item:hover {
  background-color: #e83a26;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 32px 0 8px;
}
.header__logo {
  height: 96px;
}

.search-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
}/*# sourceMappingURL=main.css.map */